In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
from sklearn import preprocessing as p
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
data= pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
test_ids=test['PassengerId']

In [3]:
def clean(data):
    data = data.drop(['Ticket',"Cabin","Name",'PassengerId'],axis=1)

    columns=['SibSp','Parch','Age','Fare']
    for col in columns:
        data[col].fillna(data[col].median(),inplace=True)
    return data
data = clean(data)
test = clean(test)

In [4]:
data

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  28.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [5]:
test.Embarked.fillna('U', inplace=True)
le = preprocessing.LabelEncoder()
columns = ['Sex','Embarked']
for col in columns:
    test[col] = le.fit_transform(test[col])
    print(le.classes_)

['female' 'male']
['C' 'Q' 'S']

In [6]:
data.Embarked.fillna('U', inplace=True)
le = preprocessing.LabelEncoder()
columns = ['Sex','Embarked']
for col in columns:
    data[col] = le.fit_transform(data[col])
    print(le.classes_)

['female' 'male']
['C' 'Q' 'S' 'U']

In [7]:
y=data[['Survived']]
X=data.drop(columns=['Survived'])

In [8]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled = pd.DataFrame(X_scaled, columns=X.columns)

In [ ]:
def SVMlin(X,y,c_values):
    X_train, X_val, y_train, y_val = train_test_split(X, y, train_size = 0.8, random_state=10)
    model = SVC(kernel='linear',C = c_values)
    model.fit(X_train, y_train.values.ravel())
    y_pred = model.predict(X_val)
    return accuracy_score(y_val,y_pred)
results=[]
c_values=[10,1,0.1,0.01,0.001]
for c in c_values:
    results.append(SVMlin(X,y,c))
    print (results[-1])

In [ ]:
def SVMpoly(X,y,c_values,n_degree):
    X_train, X_val, y_train, y_val = train_test_split(X, y, train_size = 0.8, random_state=42)
    model = SVC(kernel='poly',C = c_values, degree=n_degree)
    model.fit(X_train, y_train.values.ravel())
    y_pred = model.predict(X_val)
    return accuracy_score(y_val,y_pred)
results=[]
n_degree=[1,5,10]
c_values=[100,10,1,0.1]
for degree in n_degree:
    small_list=[]
    for value in c_values:
        small_list.append(SVMpoly(X,y,value,degree))
        print(small_list[-1])
    results.append(small_list)

0.7821229050279329
0.6703910614525139
0.6536312849162011
0.6312849162011173
0.664804469273743
0.6480446927374302
0.6312849162011173
0.6033519553072626

In [15]:
def SVMrbf(X,y,c_values,gamma_values):
    X_train, X_val, y_train, y_val = train_test_split(X, y, train_size = 0.8, random_state=42)
    model = SVC(kernel='rbf',C = c_values, gamma=gamma_values)
    model.fit(X_train, y_train.values.ravel())
    y_pred = model.predict(X_val)
    return accuracy_score(y_val,y_pred)
results=[]
c_values=[1]
gamma_values=[0.1]
for gamma in gamma_values:
    small_list=[]
    for c_value in c_values:
        small_list.append(SVMrbf(X,y,c_value,gamma))
        print(small_list[-1])
    results.append(small_list)

0.7094972067039106

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size = 0.8, random_state=42)
model1 = SVC(kernel='linear',C = 0.01).fit(X_train, y_train.values.ravel())
y_pred = model1.predict(X_val)
accuracy_score(y_val,y_pred)

In [8]:
submission=model1.predict(test)

In [9]:
df=pd.DataFrame({'PassengerId':test_ids.values,
                'Survived':submission})

In [10]:
df.to_csv('submission.csv',index=False)